*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.button{
    height: 40px;
    border: 1px solid #BAD7E9;
    border-radius: 5px;
    width: 49%;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #FCFFE7;
    color: #2B3467;
}

.button:active {
    font-size: 1.11rem;
}

.disabled_button {
    background-color: #EB455F;
    color: #FCFFE7;
    opacity: 0.5;
}