*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #2B3467;
  height: 100vh;
  padding: 150px 0 0;
}

.counter-container{
  border: 1px solid #FCFFE7;
  height: 200px;
  width: 300px;
  margin: auto ;
  border-radius: 10px;
  padding: 10px 0;
}

.counter-display {
  height: 120px;
  width: 280px;
  background-color: #FCFFE7;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 5rem;
  color: #2B3467;
}

.button-container {
  height: 40px;
  width: 280px;
  margin: 15px auto 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}